@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ChangeUserPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
    <div class="th-checkout-wrapper space-top space-extra-bottom">
        <div class="container">
            <div class="align-content-center">
                <div class="col-lg-6">
                    <h2 class="h4">ایمیل تغییر رمز عبور</h2>
                    <div class="row">
                        <div class="col-md-6 form-group"><input type="text" class="form-control" value="@ViewBag.UserEmail" disabled></div>
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />

                    <h2 class="h4">رمز عبور جدید</h2>
                    <div class="row">
                        <div class="col-md-6 form-group"><input type="password" class="form-control" id="Forget_Password" placeholder="رمزعبور"></div>
                        <div class="col-md-6 form-group"><input type="password" class="form-control" id="Forget_ConPassword" placeholder="تکرار رمزعبور"></div>
                    </div>
                    <button class="th-btn" id="ChangePasswordBtn" onclick="ChangePasswordFunc()" style="cursor:pointer;">ثبت رمز عبور</button>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {

    <link href="~/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/sweetalert2/sweetalert2.min.js"></script>

    <script>

        function ChangePasswordFunc(){
                var Password = $("#Forget_Password").val();
                var ConPassword = $("#Forget_ConPassword").val();
                var postData = {
                    'NewPassword': Password,
                    'ConPassword': ConPassword
                };
            $.ajax({
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                type: "POST",
                url: "/Register/ForgetPasswordValidation",
                data: postData,
                success: function (data) {
                    if (data.isSuccess == true) {
                        swal.fire(
                            'موفق!',
                            data.message,
                            'success'
                        ).then(function (isConfirm) {
                            window.location.href = '/Register/LogOut';
                        });
                    }
                    else {
                        swal.fire(
                            'هشدار!',
                            data.message,
                            'warning'
                        );
                    }
                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }
            });
        }
    </script>
}